<div class="row">
  <div class="span10 offset1">
    <h2><%= controller_name.classify %>' list</h2>

    <%= link_to 'New', polymorphic_path([:new, controller_name.classify.downcase]), :class => 'btn btn-success' %>
    <br>
    <br>

    <table class="table table-hover table-bordered">
      <thead style="font-weight: bold;">
      <tr>
        <td>Name</td>
        <td>Actions</td>
      </tr>
      </thead>
      <% @items.each do |i| %>
          <tr>
            <td>
              <%= i.name %>
            </td>
            <td>
              <%= link_to '[edit]', polymorphic_path([:edit, i]), :class => 'btn btn-primary btn-mini' %>
              <%= link_to '[delete]', i, :method => :delete, :class => 'btn btn-danger btn-mini' %>
            </td>
          </tr>
      <% end %>
    </table>

  </div>
</div>