<%= form_for(@boot) do |f| %>

    <% if @boot.errors.any? %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">&#215;</a>
          <ul>
            <% @boot.errors.full_messages.each do |msg| %>
                <%= content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String) %>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <br>

    <%= f.label :size %>
    <%= f.text_field :size %>

    <br>

    <%= f.label :colour_id %>
    <%= f.collection_select :colour_id, Colour.all, :id, :name %>

    <br>

    <%= f.label :surface_id %>
    <%= f.collection_select :surface_id, Surface.all, :id, :name %>

    <br>

    <%= f.label :sole_id %>
    <%= f.collection_select :sole_id, Sole.all, :id, :name %>

    <br>

    <%= f.label :insole_id %>
    <%= f.collection_select :insole_id, Insole.all, :id, :name %>

    <br>

    <%= f.submit @boot.id ? 'Save': 'Create' %>
<% end %>