<ul class="nav">
  <li><%= link_to 'Каталог обуви', boots_path %></li>
  <li><%= link_to 'Цвета', colours_path %></li>
  <li><%= link_to 'Материалы верха', surfaces_path %></li>
  <li><%= link_to 'Материалы подошвы', soles_path %></li>
  <li><%= link_to 'Материалы стельки', insoles_path %></li>
</ul>